# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data – raw data se nikdy nepushuje jako binárka
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

references/*
notebooks/cache/*
cache/*
data/raw/osm/*.pbf

# IDE
.vscode/
.idea/
.claude/

# OS
.DS_Store
Thumbs.db

# Env soubory
.env
*.env

# Logy
*.log
